# API Automation Framework Configuration

# The Base URL of the API under test
BASE_URL=https://reqres.in

# Valid Credentials for Auth Tests
TEST_EMAIL=eve.holt@reqres.in
TEST_PASSWORD=cityslicka

# Invalid Credentials for Negative Tests
INVALID_EMAIL=invalid.user@reqres.in
INVALID_PASSWORD=wrongpassword
